/* Body Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

/* Form Styles */
#relay-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.relay-section {
  border: 2px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
}

.relay-section h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1px;
}

.relay-item {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

label {
  margin-right: 10px;
  text-align: right;
  width: 100px;
}

input[type="text"] {
  padding: 5px;
  width: 200px;
}
input[type="number"] {
  padding: 5px;
  width: 50px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


/* Relay Container Styles */
.relay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Relay Item Styles */
.relay-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.relay-name {
  margin-left: 10px;
  padding: 5px;
  width: 200px;
}

/* Checkbox Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider:before {
  border-radius: 50%;
}

/* Button Styles */
.save-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #45a049;
}
